{% extends "origin.html" %}
{% block title %} Register {% endblock %}

{% block content %} 
<form method="POST">
    <h2 align="center">Register</h2>

    <div class="form-group">
        <label for="email">Nickname:</label>
        <input 
            type="text" 
            class="form-control" 
            name="nickname" 
            id="nickname" 
            placeholder="Enter your name"
        >
        
        <label for="email">Email:</label>
        <input 
            type="email" 
            class="form-control" 
            name="email" 
            id="email" 
            placeholder="Enter your email"
        >

        <label for="email">Password:</label>
        <input 
            type="password" 
            class="form-control" 
            name="password1" 
            id="password1" 
            placeholder="Enter your password"
        >

        <label for="email">Confirm password:</label>
        <input 
            type="password" 
            class="form-control" 
            name="password2" 
            id="password2" 
            placeholder="Confirm your password"
        >
    </div>
<br>

    <button type="submit" class="btn btn-outline-dark">
        Register
    </button>

</form>
{% endblock %}